/********************************/
/*            Global            */
/********************************/

.hidden {
	display: none !important;
}


/********************************/
/*         Landing page         */
/********************************/

.big-button {
	border: 1px solid black;

	/* Spacing */
	width: 100px;
	padding: 15px;
	margin: 10px;

	/* Text */
	text-align: center;
	font-weight: bold;

	/* Color */
	color: #000;
	background-color: #77F;
}
.big-button:hover {
	background-color: #33F;
}

a {
	text-decoration: none;
}

.button-box {
	display: inline-block;
}

#main {
	text-align: center;
}

#difficult-button {
	text-decoration: line-through;
}


/********************************/
/*       Finding opponent       */
/********************************/

#finding-opponent {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}


/********************************/
/*             Game             */
/********************************/

#game-div {
	display: flex;
}

#side-bar {
	margin: 0 10px;
	text-align: left;
}

#turn {
	font-size: 2em;
	color: #F0F;
}

#score-table {
	margin: 1em 0;
}


/********************************/
/*             Game             */
/********************************/

#won-text {
	color: green;
	font-size: 1.5em;
	font-weight: bold;
}

#lost-text {
	color: blue;
	font-size: 1.5em;
	font-weight: bold;
}


/********************************/
/*            Error             */
/********************************/

#error > h1 {
	color: #F00;
}

#errorMsg {
	color: #F00;
	font-weight: bold;
}